# Database
DATABASE_URL="postgresql://user:password@host:port/database?schema=public"

# Google Auth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# Gemini AI
GEMINI_API_KEY=""
